body{
    background-color: black;
    
}

h1{
    position: fixed;
    color:brown;
    text-align: center;
    font-size:350%;
    background-color: white;
    border: 5px solid;
    border-color: brown;
    top: 0px;
    margin-left: 45%;
    padding: 10px;
    border-radius: 10px; 
   } 

h2{
    color:brown;
    font-size:150%;
}

.itemsLog{
  width: 35%;
  height: 600px;
  background-color: black;
  border: 5px solid;
  border-color: brown;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 35%;
}

.logs{
    background-color: white;
    width: 375px;
    height: 50px;
    border: 3px solid;
    border-color: brown;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size:larger;
    font-weight: bolder;
    color: brown;
    input[type=text]{
    border: 3px solid brown;
    border-radius: 5px;
    background-color: white;
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    justify-items: center;
    }
    input[type=password]{
      border: 2px solid brown;
      background-color: white;
      font-size: medium;
      font-family:'Courier New', Courier, monospace;
      font-weight: bolder;
    }
    button[type=submit]{
      margin-top: 10px;
      border: 3px solid brown;
      border-radius: 5px;
      background-color: lightgrey;
      font-size: medium;
      font-family:'Courier New', Courier, monospace;
      font-weight: bolder;
      
      }
    input[type=email]{
          border: 2px solid brown;
          background-color: white;
          font-size: medium;
          font-family:'Courier New', Courier, monospace;
          font-weight: bolder;
      
    }
    textarea[type=descripcion]{
      border: 2px solid brown;
      background-color: white;
      font-size: medium;
      font-family:'Courier New', Courier, monospace;
  
    }
  
    input[type=website]{
      border: 2px solid brown;
      background-color: white;
      font-size: medium;
      font-family:'Courier New', Courier, monospace;
      font-weight: bolder;
  
  }
  
  input[type=url]{
    border: 3px solid brown;
    border-radius: 5px;
    background-color: white;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
  
  }
  }

  .link{
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    color: brown;
  }

  .link:hover {
    background-color: salmon;
}

  .sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: brown;
    width:10%;
    height: 300px;
    align-content: center;
    justify-content:space-around;
    position: fixed;
    bottom: 20px;
    left: 50px;;
  }

  @keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sidebar {
    animation: slideInLeft 1s ease-out;
}


  .addItemsLog{
    width: 400px;
    height: 460px;
    background-color: black;
    border: 5px solid;
    border-color: brown;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom:200px;
    left: 650px;
  }

  .bajo{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0px;
    right: 0px;
  }

  .teclado{
    position: relative;
    height: 100%;
    width: 50%;
    top: 0px;
    left: 0px;
  }

.social-icons {
    display: flex;
    gap: 20px;
    padding: 5px;
    height: 25px;
    width: 200px;
    border: 5px solid brown;
    border-radius: 10px;
    background-color: white;
   justify-content: center;
   position: fixed;
   top: 100px;
   left: 740px;

}
.social-icons a {
    text-decoration:none;
    
}
.social-icons img {
    width: 20px;
    height: 20px;
}
.otroEstadio{
  position: fixed;
  top: 20px;
  left: 50px;
  height: 280px;
  width: 450px;
  border: 3px solid brown;
  border-radius: 10px;
}

.cancionesAdd{
  display:flexbox;
  flex-direction:column;
  background-color: black;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: brown;
  width: 255px;
  height: 320px;
  align-content: center;
  justify-content:space-around;
  position: fixed;
  top: 20px;
  right: 50px;
}

.div{
  background-color: white;
  border: solid 5px brown;
  border-radius: 10px;
  width: 235px;
  height: 45px;
  margin: 10px;
  font-weight: bolder;
  input[type=text]{
    width: 210px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid brown 3px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
};
input[type=url]{
  width: 210px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border: solid brown 3px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
};
button[type=submit]{
  width: 210px;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  border: solid brown 3px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bolder;
}
}

.rojo{
  position: fixed;
  top: 559px;
  right: 50px;
  height: 300px;
  width: 450px;
  border: 3px solid brown;
  border-radius: 10px;
}
