.fecha{
  background-color: white;
  border: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  width: 30%;
  height: 60px;
  margin: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  color: brown;
  
}

.tabla{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: brown;
  width: 90%;
  height: 500px;
  align-content: center;
  justify-content:space-around;
  margin-left: 5%;
  margin-top: 10px;
}

.escenario{
  width: 40%;
  height: 20%;
  border-image: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  margin-left: 25%;
  position: relative;
  margin-top: 10px; 
}

.link{
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    color: brown;
  }

  .link:hover {
    background-color: salmon;
}
  
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: brown;
    width:10%;
    height: 300px;
    align-content: center;
    justify-content:space-around;
    position: fixed;
    top: 60%;
    left: 5%;  
  }

  @keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sidebar {
    animation: slideInLeft 1s ease-out;
}


.social-icons {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 150px;
    gap: 20px;
    padding: 5px;
    height: 25px;
    width: 200px;
    border: 5px solid brown;
    border-radius: 10px;
    background-color: white;
   justify-content: center;
}

.social-icons img {
    width: 20px;
    height: 20px;  
}

.otroEstadio{
  position: fixed;
  top: 59%;
  right: 100px;
  height: 250px;
  width: 400px;
  border: 3px solid brown;
  border-radius: 10px;
}
