
.tabla{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: brown;
    width: 90%;
    height: 500px;
    align-content: center;
    justify-content:space-around;
    margin-left: 5%;
    margin-top: 10px;
  }
  
.musicLines{
    background-color: white;
    border:5px;
    border-style:solid;
    border-color:brown;
    border-radius:10px;
    width:30%;
    height:70px;
    margin-top:10px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight:bolder;
  }

  
.link{
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    color: brown;
  }
  
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: brown;
    width:10%;
    height: 300px;
    align-content: center;
    justify-content:space-around;
    position: fixed;
    top: 60%;
    left: 5%;
  }


  .escenario{
    width: 40%;
    height: 20%;
    border-image: 5px;
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    margin-left: 25%;
    position: relative;
    margin-top: 10px;
    
  }