

body{
    background-color: black;
    
}

h1{
    position: fixed;
    color:brown;
    text-align: center;
    font-size:350%;
    background-color: white;
    border: 5px solid;
    border-color: brown;
    top: 0px;
    margin-left: 45%;
    padding: 10px;
    border-radius: 10px; 
   } 

h2{
    color:brown;
    font-size:150%;
}

  .btn {
    padding: 10px;
    border: 2px solid;
    border-color: gray;
    background-color:brown;
    color: white;
    font-style:normal;
    font-weight:normal;
    border-radius: 10px;
    width: 100px;
    height: 20px;
}

.fecha{
  background-color: white;
  border: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  width: 30%;
  height: 60px;
  margin: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  color: brown;
  
}

.tabla{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: brown;
  width: 90%;
  height: 500px;
  align-content: center;
  justify-content:space-around;
  margin-left: 5%;
  margin-top: 10px;
}

.escenario{
  width: 40%;
  height: 20%;
  border-image: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  margin-left: 25%;
  position: relative;
  margin-top: 10px;
  
}



.link{
  background-color: white;
  border: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  width: 90%;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  color: brown;
}

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: brown;
  width:10%;
  height: 300px;
  align-content: center;
  justify-content:space-around;
  position: fixed;
  top: 60%;
  left: 5%;
  
}

.presentacion{
  background-color: white;
  border: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  width:40%;
  height: 500px;
  margin: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-top: 30px;
}

.home{
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  background-color: rgb(169, 166, 166);
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: brown;
  width: 70%;
  height: 600px;
  align-content: center;
  justify-content:space-around;
  margin-top: 10%;
  margin-left: 20%;
}

.bio{
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
}

.itemsLog{
  width: 35%;
  height: 650px;
  background-color: black;
  border: 5px solid;
  border-color: brown;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 35%;
  
  
}

.logs{
  background-color: white;
  width: 500px;
  height: 50px;
  border: 3px solid;
  border-color: brown;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size:x-large;
  font-weight: bolder;
  color: brown;
  input[type=text]{
  border: 2px solid brown;
  background-color: white;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  }
  input[type=password]{
    border: 2px solid brown;
    background-color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
  }
  button[type=submit]{
    border: 2px solid brown;
    background-color: lightgrey;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    }
  input[type=email]{
        border: 2px solid brown;
        background-color: white;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
    
  }
  textarea[type=descripcion]{
    border: 2px solid brown;
    background-color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

  }

  input[type=website]{
    border: 2px solid brown;
    background-color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

}

input[type=url]{
  border: 2px solid brown;
  background-color: white;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;

}
}

.li{
  margin: 0% 20%;
  animation-duration: 3s;
  animation-name: slidein;
  font-size:115%; 
}

.musica {
  padding: 10px 5px;
  border: 5px solid;
  border-color: brown;
  background-color:white;
  color: brown;
  font-style:normal;
  font-weight:normal;
  border-radius: 5px;
  width: 120px;
  height: 80px;
  
}

.musicLines{
  background-color: white;
  border:5px;
  border-style:solid;
  border-color:brown;
  border-radius:10px;
  width:30%;
  height:70px;
  margin-top:10px;
  text-align:center;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight:bolder;
}

.home{
  background-color: white;
  border: 5px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  width: 40%;
  height:400px;
  margin: 10px;
  text-align:center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: xx-large;
  color: brown;
}

.homeTitulo{
  position: fixed;
  width: 25%;
  height: 300px;
  color:brown;
  text-align: center;
  font-size:350%;
  background-color: white;
  border: 5px solid;
  border-color: brown;
  top: 450px;
  right:75px;
  padding: 10px;
  border-radius: 10px; 
 } 

 .addItemsLog{
  width: 35%;
  height: 750px;
  background-color: black;
  border: 5px solid;
  border-color: brown;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 35%;
  
  
}